.App {
  text-align: left;
  padding:10px;
  
}
 .contact{
   max-width:20%;
   border-radius:12px;
   background-color:#f3f2f2;
   float:left;
   min-height:100%;
   
}
.conversation{
  border-radius:12px;
  max-width:80%;
  background-color:#f3f2f2;
  background-image:url(./images/chatpage/search-panel-bubble.svg);
  margin-left:20%;
}
